/* 
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  .certificationName {
    font-weight: 900;
  }
  
  .techIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: calc(50% - 20px); 
  }
  
  .certificationInfo {
    margin-top: 10px;
    text-align: center;
  } */
  
  // TechSkillsCertification.module.scss


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techIcon {
  width: 300px;
  margin: 20px;
  padding: 20px;  
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(109, 32, 197, 0.84);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
 
}


.techIcon:hover {
  transform: translateY(-4px);
}

.certificationCardInner {
  display: flex;
  align-items: center;
  padding: 20px;
}

.certificationIcon {
  margin-right: 20px;
}

.certificationName {
  font-size: 24px;
  font-weight: bold;
}

.certificationDescription {
  margin-top: 10px;
}

.certificationLink {
  display: block;
  margin-top: 20px;
}

.underline {
  text-decoration: underline;
}
 


.dark .techIcon {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(109, 32, 197, 0.84);
}
