.navigationDrawerNav {
  height: 100%;
  display: flex;
  justify-content: center;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}
.andyc {
  color: #cd5ff8;
  font-weight: bold;
  font-size: 28px;
  margin-right: 5px;
  margin-left: 5px;
}

.symbol {
  color: #eef85f;
  font-weight: 900;
  font-size: 28px;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;    
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .desktop {
    display: none;
  }

  .mobile {
   display: flex;
    align-items: center;
    justify-content: center;   
    font-size: 14px; /* Add the desired font size for smaller devices */
  }
}