.navigationDrawerNav {
  height: 100%;
  display: flex;
  justify-content: center;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Add margin below the logo */
    font-size: 14px; /* Add the desired font size for smaller devices */
  }
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1024/834) {
  .desktop {
    display: flex;
    align-items: center;
  }
}
